/**************** APPLIES TO ***************
URLs starting with:
    chrome-extension://clngdbkpkpeebahjckkjfobafhncgmne
/**************** APPLIES TO **************/

.CodeMirror {
	height: 60vh;
}

.CodeMirror-scrollbar-filler, .CodeMirror-gutter-filler {
	background: inherit;
}

#stylus-popup {
	border: 2px solid #292929;
}

body {
	background: #171717;
	color: #e4e4e4;
	font-size: 14px;
}

input, select {
	background: #4a4a4a;
	color: #e4e4e4;
	border: 1px solid #909090;
	padding: 3px 5px;
}

button {
	background: #0a68a2;
	color: #fff;
	border: none;
	padding: 5px 5px;
	margin: 1px;
	text-align: center;
	font-size: 15px;
	transition-duration: 0.4s;
	cursor: pointer;
}

button:hover, button:not(:disabled):hover {
	background: #158be2;
}

button:disabled, select:disabled, option:disabled, select[disabled] > option {
	color: #ddd;
	background: #4b6274;
}

a, a:visited {
	color: #009fff;
	text-decoration: none;
}

#header {
	width: 17rem;
}

.resize-grip {
	display: none;
}

.entry {
	background: #171717;
}

.filter-selection select {
	background: none;
}

input[type="checkbox"] {
	background: #dfdfdf;
}

input[type="checkbox"]:not(.slider) {
	background-color: #dfdfdf;
	border-color: #ccc;
	height: 13px;
	width: 13px;
	border-radius: 0;
}

input[type="checkbox"]:not(.slider):hover {
	background-color: #fff;
	border-color: #ddd;
}

input:not([type]) {
	background: #111;
	border-color: #292929;
	color: #dfdfdf;
}

#help-popup, #message-box > div, #message-box-buttons {
	background-color: #171717;
}

#message-box-title {
	background: #0a68a2;
}

.beautify-options select {
	background: #4a4a4a;
	border: 1px solid #909090;
}