/**************** APPLIES TO ***************
URLs starting with:
    https://calendar.google.com
/**************** APPLIES TO **************/

/* CALENDAR */
body, .tNDBE, .Kk7lMc-DWWcKd-OomVLb-haAclf, .ef2wWc, .W0m3G .r4nke, .W0m3G::before, .p9lUpf, .JtukPc, header, .gb_ma {
	background-color: #111 !important;
}

.W0m3G:hover .r4nke, .Cd9hpd:hover, .Cd9hpd .mAozAc.u3bW4e, .yzYBvd:hover {
	background-color: #333;
}

.DyOaYd, .IIB0tc .ULpymb, .HLI7qf, .jZ0DTb, .FpmPAb, .ncFHed {
	background-color: #171717;
}

body, .NI2kfb, .uQ1ixe .snByac, .W0m3G .r4nke, .Cd9hpd .snByac, .GXlaye .snByac, .rSoRzd, .YK7obe .yzYBvd, .yzYBvd, .yzYBvd:hover, .MocG8c, .jT5e9, .HLI7qf .c7fp5b, .Kb2sf.CCDcoc .WpDZC, .TgcD5e, .qmMNRc, .uOjlA, .agOyMd div.DN1TJ, .pdqVLc .DN1TJ, .shdZ7e .zHQkBf, .WpDZC, .MSZkRb .r4nke {
	color: #dfdfdf;
}

.SoBqBf, .wy3aMe, .agOyMd .JAPzS, .pdqVLc .NI2kfb {
	color: #fff;
}

.t8qpF, .QIadxc, .SGWAac, .PhLhOd, div.gboEAb, .tNDBE:not(.Wyo4Qe) {
	border-color: #444 !important;
}

.g3dbUc {
	border-radius: 0;
}

.GXlaye.qRI4pc, .Cd9hpd {
	color: #dfdfdf;
	border-color: #444;
	border-radius: 0;
}

.qOxDcf .ifwtOb {
	padding-right: 1px;
}

.gb_5d.gb_3d {
	color: #dfdfdf;
	opacity: 1;
}

.gb_ja {
	background-color: #111 !important;
}