/**************** APPLIES TO ***************
URLs matching the regexp:
    .*youtube\.com\/(watch|playlist).*
/**************** APPLIES TO **************/

a.yt-simple-endpoint.ytd-playlist-video-renderer {
	order: 2;
}

.checkbox-label {
	order: 1;
	height: 20px;
	width: 20px;
	margin: 23px 15px 0 0;
}

.checkbox-label input {
	position: absolute;
	opacity: 0;
	height: 18px;
	width: 18px;
	margin: 2px;
	cursor: pointer;
}

.checkbox-label .checkbox {
	position: absolute;
	height: 18px;
	width: 18px;
	background-color: transparent;
	border: 2px solid #888;
	border-radius: 2px;
	transition: all 0.1s ease-in-out;
	cursor: pointer;
}

.checkbox-label input:checked ~ .checkbox {
	background-color: #888;
}

.checkbox-label input:checked ~ .checkbox::after {
	content: "";
	position: absolute;
	transform: rotate(45deg) scale(1);
	top: 2px;
	left: 5px;
	width: 5px;
	height: 10px;
	border: solid #121212;
	border-width: 0 2px 2px 0;
}

.output-box {
	box-sizing: border-box;
	overflow: auto;
	text-overflow: ellipsis;
	font-size: 15px;
	width: 350px;
	min-height: 50px;
	padding: 5px;
	color: #888;
	background-color: #121212;
	border: 1px solid #222;
}

.button {
	padding: 10px 16px;
	text-align: center;
	background-color: rgba(255, 255, 255, 0.1);
	color: rgb(170, 170, 170);
	font-family: Roboto, Noto, sans-serif;
	border-radius: 2px;
	cursor: pointer;
	font-size: 14px;
	font-weight: 500;
	height: min-content;
	margin: 7px 7px 0 0;
}

.hidden {
	display: none !important;
}